.profile {
    
}
.banner {
    img {
        background-size: cover;
        background-position: center;
        width: 100%;
        min-height: 400px;
        max-height: 500px;
    }
}
.photo {

}
.description {

}